.bundle
.vagrant
config/worker.yml
config/worker.development.yml
log/*
tmp/*
vendor/hot_bunnies
vendor/travis-support
vendor/travis-build
*.box
*.class
*.rbc
*~
*#
#*
.yardoc/*
coverage/*
play/*
.DS_Store
bin/*
.rvmrc
